
* {
  box-sizing: border-box;
}


body {
  font-family: sans-serif;
}

.container {
  display: flex;
  flex-direction: row; /* Default*/
  justify-content: flex-start; /* Default  Alínea al inicio principal*/
  justify-content: flex-end;/* Alínea al final principal*/
  justify-content: center; /* Alinea al centro */
  justify-content: space-around; /* Distribuye el espacio disponible a cada lado de los elementos de forma proporcional */ 
  justify-content: space-between;/* Distribuye el espacio disponible entre los elementos*/
  justify-content: space-evenly; /*Distribuye el espacio disponible entre los elementos y el borde del contenedor*/

  margin: 0 auto;
  box-sizing: content-box;
  text-align: center;
  width: 1000px;
  height: 500px;
  background-color: chocolate;
}

.item {
  box-sizing: border-box;
  text-align: center;
  padding-top: 46px;
  width: 100px;
  height: 100px;
  background-color: chartreuse;
}

